* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    align-items: center;
}

.item {
    padding: 8px 12px;
    background: green;
    font-size: 12px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 100px;
    gap: 8px;
}

.grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}